<div class="container">
<header>
    <nav id="navbar">
        <div class="logo"><span>Foodie</span></div>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#order">Order</a></li>
        </ul>
    </nav>
    <div id="mobile">
        <div class="logo1"><span>Foodie</span></div>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#order">Order</a></li>
        </ul>
    </div>

    <div class="overlay">
        <section id="home">
            <h1 class="h-primary">Welcome to Foodie</h1>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dolorum numquam minus. </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
            <button class="btn">Order Now</button>
        </section>
    </div>
</header>
</div>